* {
  font-family: "Nunito Sans", serif;
}

.highlightText {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 16px 0;
}

.avatarCards img {
  height: 420px;
  object-fit: cover;
}

.avatarCards a {
  color: #ffffff;
  text-decoration: none;
}

/* CHAT */

.chat .input-group {
  position: absolute;
  bottom: 27px;
}

.chat .messages {
  width: max-content;
}

video {
  height: 80vh;
}
